.navbar > .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid rgb(222, 222, 222);
  }

.navbar > .container a:hover {
    color: #2bb1f8;
}

.nav-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}