.navbar > .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

.navbar > .container a:hover {
    color: #2bb1f8; /* Change to the desired hover color */
}

.nav-brand {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    padding-top: 10px;
}